*.json
*.png
*.svg
*.log
data/STU_test/*
build/*
!build/.gitkeep
*.txt
data/countryCodeExchangeMap.csv
data/countryCodeList.ods
!data/defaultSpreadTable.json
!data/bondYieldTable.json
data/STU/rankDataTesting/*.csv
data/STU/rankData/*.csv
data/STU/reportTest
