*.json
*.png
*.svg
*.log
*.csv
*.ods
*.pdf
*.aux
*.tex
*.out
data/STU_test/*
build/*
!build/.gitkeep
*.txt
working.sh
!data/exchanges.json
!data/STU.json
!data/defaultSpreadTable.json
!data/bondYieldTable.json
!data/1980_2023_Corporate_Tax_Rates_Around_the_World_Tax_Foundation.csv
!data/STU/plot_P_VP_EvRCF_ROIC.csv

